/*import font*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* basic styles */
body {
  background-color: #e9ebee;
  font-family: 'Roboto', sans-serif;
}
header {
  background-color: #3b5997;
  height: 100px;
  text-align: center;
}
header img {
  height: 100%;
}
textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  resize: none;
  width: 100%;
}
.wrapper {
  display: flex;
  font-size: 14px;
  justify-content: center;
}

/* helpers */
.no-visibility {
  visibility: hidden;
}

/* components */
.btn-container {
  text-align: center;
}
[class^='btn-'] {
  border: 0;
}
.btn-default {
  background-color: #e9ebee;
  padding: 0.25rem 1rem;
}
.btn-default:hover {
  background-color: lightgray;
}
.btn-facebook {
  color: #ffffff;
  background-color: #4267b2;
  margin-left: 0.5rem;
  padding: 0.25rem 1rem;
}
.btn-facebook:hover {
  background-color: #3b5997;
}
.btn-underline {
  background-color: transparent;
  padding: 0.5rem;
  text-decoration: underline;
}
.btn-underline:hover {
  background-color: transparent;
  color: #3b5997;
}
.btn-close {
  background-color: inherit;
  color: lightgray;
  font-weight: bold;
}
.btn-close:hover {
  color: gray;
}

/* LOGIN */
.form {
  border: 1px solid lightgray;
  margin-top: 2rem;
  position: absolute;
  padding: 2rem 1rem;
}
.user-action {
  margin-bottom: 1.75rem;
}
.user-action label,
.user-action input,
.user-action span {
  display: block;
}
.user-action input {
  height: 2rem;
  width: 250px;
}

/* PROFILE */
.profile {
  margin-top: 2rem;
  width: 50%;
}
.new-post {
  background-color: #ffffff;
  border: 1px solid lightgray;
  padding: 0.5rem;
}
.new-post .content {
  border: 1px solid lightgray;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
}
.new-post .actions {
  text-align: right;
}
.new-post .privacy {
  background-color: #e9ebee;
  padding: calc(0.25rem - 2px) 0.25rem;
}
.filter-posts {
  padding: 0.5rem 0;
}
.profile-posts > span{
  color: gray;
  margin-left: 0.5rem;
}
.post {
  background-color: #ffffff;
  border: 1px solid lightgray;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
.post .content {
  color: gray;
}

/*MODAL*/
.modal {
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}
.modal-header {
  background-color: #e9ebee;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.modal-header span{
  font-weight: bold;
}
.modal-body {
  margin-top: 200px;
  width: 50%;
}

/*CONFIRM DELETE*/
.confirm-delete,
.confirm-message {
  background-color: #ffffff;
  color: #000000;
  padding: 0.5rem;
}
.confirm-delete p,
.confirm-message p {
  margin-bottom: 0.5rem;
}
.confirm-delete .actions,
.confirm-message .actions {
  text-align: right;
}

/* javascript classes */
.js-error-message {
  color: red;
  font-size: 0.75rem;
  margin-bottom: 0.1rem;
}
.js-btn-login {
  padding: 0.5rem 2rem;
}
